body {
    text-align: center;
}

form {
    background-color: cornflowerblue;
    border-radius: 5px;
    width: 80%;
    padding: 5% 0;
    margin: 0 auto;
    font-size: 24px;
}

label {
    margin: 20px 0;
    font-size: 24px;
}

input, select {
    margin: 20px 0;
    font-size: 18px; 
}